<div class="component-image-upload-preview">
        <div class="form-group upload">
            <label :for="name" class="control-label">{{title}}</label>

            <div class="row">

                <div class="col-sm-12 col-md-6">
                    <span class="upload-field">
                        <div class="upload-button">
                            <input type="file" :name="name" :id="uniqid" @change="generateImagePreview"  accept=".jpg, .jpeg, .png"/>
                            <label class="btn btn-success" :for="uniqid">Datei auswählen</label>
                            <span>
                                <i v-if="!photo.path">Keine Datei ausgewählt</i>
                                <i v-else>{{ photo.filename }}</i>
                            </span>
                        </div>
                        <transition name="fade">
                            <div v-if="deletable && photo.path">
                                <button class="btn btn-danger" href="#delete" @click.prevent="deleteFile">Datei löschen</button>
                            </div>
                        </transition>
                        <input type="hidden" :name="'delete['+name+']'" v-if="removeFile" value="true">
                    </span>
                </div>
                <div class="col-sm-12 col-md-6">
                    <transition name="fade">
                        <span v-if="photo.path"><img :src="photo.path" style="max-width:100px;" /></span>
                    </transition>
                </div>

            </div>

        </div>
    </div>
