.component-image-upload-preview {

  .control-label {
    display: block;
  }

  .upload {
    margin: 2rem 0;

    .upload-field {
      vertical-align: top;
    }

    .upload-holder {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 2rem;
    }

    span {
      display: inline-block;
      color: #194450;
      position: relative;
      margin-right: 20px;
    }

    .upload-label  {
      display: inline-flex;
      align-items: center;
    }

    .upload-button {
      display: flex;
      align-items: center;
      vertical-align: top;

      .btn {
        color: #fff;
        background-color: #194450;
        margin-bottom: .5rem;
        margin-right: 12px;
        border: 0;
      }

    }

    input {
      visibility: hidden;
      position: absolute;
    }

  }

}
