//Colors
$pb-button-background-gradient: linear-gradient(to right, #ff436c 0%, #fc6667 50%, #ff436c 100%);
$pb-bg-dark-theme-color: #202529;
$pb-bg-light-theme-color: #ecf0f1;
$pb-side-nav-color: #222b32;
$pb-active-color: #ff416c;
$pb-gray: #bdc3c7;
$pb-icon-color: #fd5c68;
$pb-element-icon-color: #5e7e9e;
