<div class="component-storage-manager">

    <h2>Medienmanager</h2>

    <div class="row">

        <div class="col-sm-12">

            <div class="btn-toolbar pull-right" role="toolbar" aria-label="storage-manager-actions">
                <div class="btn-group" role="group" aria-label="upload-button">
                    <a href="" class="btn btn-storage-manager"><i class="glyphicon glyphicon-floppy-open"></i> Datei hochladen</a>
                </div>
                <div class="btn-group" role="group" aria-label="selector-button">
                    <a href="#" class="btn btn-storage-manager" key="selectAll" @click.prevent="$store.commit('selectAll')" v-if="!allSelected"><i class="glyphicon glyphicon-check"></i> Alle auswählen</a>
                    <a href="#" class="btn btn-storage-manager" key="unselectAll" @click.prevent="$store.commit('unselectAll')" v-else><i class="glyphicon glyphicon-check"></i> Auswahl löschen</a>
                </div>
                <div class="btn-group" role="group" aria-label="view-buttons">
                    <a href="" class="btn btn-storage-manager">
                        <i class="glyphicon glyphicon-th-large"></i>
                    </a>
                    <a href="" class="btn btn-storage-manager btn-active">
                        <i class="glyphicon glyphicon-th-list"></i>
                    </a>
                </div>
            </div>

        </div>

        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li :class="{active: !routes.length}">
                    <i class="glyphicon glyphicon-home" v-if="$route.name == 'root'"></i>
                    <a href="/" v-else @click.prevent="$store.dispatch('changeDirectory', '/')">
                        <i class="glyphicon glyphicon-home"></i>
                    </a>
                </li>
                <li v-for="(dir, key) in paths" :key="key" :class="{active: dir.path == $route.path}">
                    <a :href="dir.path" @click.prevent="$store.dispatch('changeDirectory', dir.path)" v-if="dir.path !== $route.path">{{ dir.name }}</a>
                    <span v-else>{{ dir.name }}</span>
                </li>
            </ol>
        </div>

    </div>

    <transition-group name="fade" tag="div" class="stage">
        <div v-if="isLoading" key="loading" class="is-loading">
            <Spinner  :name="loader.name" :color="loader.color" :fade-in="loader.fadeIn" :width="loader.width" :height="loader.height" :class-name="loader.className"></Spinner>
        </div>

        <div class="file-list" v-else key="loaded">    
            
            <table class="table files-table table-striped">
                <thead>
                    <tr>
                        <th class="col-check" colspan="2"></th>
                        <th class="col-name">Name</th>
                        <th class="col-modified">Zuletzt bearbeitet</th>
                        <th class="col-actions"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="dir-up">
                        <td class="col-check" colspan="2">
                            <a href="#" @click.prevent="$store.dispatch('changeDirectory', prevRoute)" v-if="$route.name != 'root'">
                                <i class="glyphicon glyphicon-level-up"></i> ...
                            </a>
                            <span v-else>
                                <i class="glyphicon glyphicon-level-up"></i> ...
                            </span>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr v-for="(dir, key) in directories" :key="'dir-'+key" :class="{selected: isSelected(dir)}">
                        <td class="col-check">
                            <i class="glyphicon glyphicon-unchecked" key="unchecked" @click.prevent="$store.commit('selectFile', dir)" v-if="!isSelected(dir)"></i>
                            <i class="glyphicon glyphicon-check" key="checked" @click.prevent="$store.commit('unselectFile', dir)" v-else></i>
                        </td>
                        <td class="col-icon">
                            
                            <i class="glyphicon glyphicon-folder-open"></i> 
                        </td>
                        <td class="col-name" @click="$store.dispatch('changeDirectory', dir.path)">
                            <div class="file">
                                <span class="file-name">{{ dir.name }} </span>
                                <span class="badge" v-if="dir.file_count">{{ dir.file_count }}</span>
                            </div>
                        </td>
                        <td class="col-modified" @click="$store.dispatch('changeDirectory', dir.name)">
                            <div class="last-modified">
                                {{ dir.last_modified }}
                            </div>
                        </td>
                        <td class="col-actions">
                            <div class="btn-toolbar pull-right action-buttons" role="toolbar" aria-label="storage-manager-actions">
                                <a href="#" class="btn btn-danger" @click.prevent="$refs.deleteModal.open()"><i class="glyphicon glyphicon-remove-circle"></i> Löschen</a>
                            </div>
                        </td>
                    </tr> 
   
                    <tr v-for="(file, key) in files" :key="'file-'+key" :class="{selected: isSelected(file)}">
                        <td class="col-check">
                            <i class="glyphicon glyphicon-unchecked" key="unchecked" @click.prevent="$store.commit('selectFile', file)" v-if="!isSelected(file)"></i>
                            <i class="glyphicon glyphicon-check" key="checked" @click.prevent="$store.commit('unselectFile', file)" v-else></i> 
                        </td>
                        <td class="col-icon">
                            <i class="glyphicon glyphicon-file"></i> 
                        </td>
                        <td class="col-name">
                            <div class="file">
                                <span class="file-name">{{ file.filename }}</span>
                            </div>
                        </td>
                        <td class="col-modified">
                            <div class="last-modified">
                            {{ file.last_modified }}
                            </div>
                        </td>
                        <td class="col-actions">
                            <div class="btn-toolbar pull-right action-buttons" role="toolbar" aria-label="storage-manager-actions">
                                <a href="#" class="btn btn-info"><i class="glyphicon glyphicon-info-sign"></i> Mehr Infos</a>
                                <a href="#" class="btn btn-danger"><i class="glyphicon glyphicon-remove-circle" @click.prevent="$refs.deleteModal.open()"></i> Löschen</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </transition-group>

    <sweet-modal icon="warning" title="Datei/Ordner Löschen" ref="deleteModal">
        
        <div >
            Datei/Ordner jetzt löschen?<br>
            Änderung kann nicht rückgängig gemacht werden.<br>
            Order mit Inhalten werden komplett gelöscht.
        </div>

        <div>
            Fortfahren?
        </div>

        <div class="btn-toolbar action-buttons" slot="button" role="toolbar" aria-label="storage-manager-actions">
            <a href="#" class="btn btn-danger pull-right">Ja, löschen!</a>
            <a href="#" class="btn btn-default pull-right">Nein, lieber nicht!</a>
        </div>


    </sweet-modal>


</div>
